<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = display-width, initial-scale = 1">
    <meta name="author" content="Guillaume Groult et Antoine Valentin">
    <meta name="description" content="Projet MOD 4.6 sur MySQL">
	<link rel="stylesheet" href="../style.css">

	<img src="../garage.png " width="150">

    <title>MyGarageDB : Projet MOD 4.6</title>
</head>

<body>
    <h1>Ajout dans la base de données</h1>
    <p>Veuillez remplir les attributs du client</p>
    <br/><br/>
	<form action="/mysql/update/client" method="POST">
		<div>
			<label for="idClient">ID : <%= body.idclient %></label>
			<input type="hidden" name="idclient" id="idClient" value="<%= body.idclient %>"/>
		</div>
		
		<div>
			<label for="nomClient">Nom : </label>
			<input type="text" name="nom" id="nomClient" value="<%=body.nom%>" required />
		</div>
		
		<div>
			<label for="prenomClient">Prénom : </label>
			<input type="text" name="prenom" id ="prenomClient" value="<%=body.prenom%>" required />
		</div>
		
		<div>
			<label for="adresseClient">Commune : </label>
			<select name="adresse" id="adresseClient">
				<option value="">-- Choississez la commune --</option>
			<% if (JSON.stringify(result)!=JSON.stringify([])) { %>
				<% result.forEach(element => { %>
				<option value="<%= element.nom %>" <% if (element.nom == body.adresse) {%> selected="selected" <% } %> ><%= element.nom %></option>
				<% }) %>
			<% } %>
			</select>
		</div>        
		<div>
			<label for="idadminClient">ID administrateur : </label>
			<select name="idadmin" id="idadminClient">
				<option value="">-- Choississez l'administrateur --</option>
			<% if (JSON.stringify(result2)!=JSON.stringify([])) { %>
				<% result2.forEach(element => { %>
				<option value="<%= element.idadm %>" <% if (element.idadm == body.idadmin) {%> selected="selected" <% } %> ><%= element.idadm %> - <%= element.prenom %> <%= element.nom %></option>    
				<% }) %>
			<% } %>
			</select>
		</div>
		<br><br>
        <input type="submit" value="Envoyer">
    </form>
    <% console.log("\nFélicitations, vous êtes connecté à la page AjoutClient !\n") %> 
</body>